$drk_clr: #1B1B2F;

$dblue_clr:#205081;
$blue_clr: #066EAE;
$lblue_clr: #56AADC;
$llblue_clr: #99CCEA;

$grn_clr: #007F50;
$lgrn_clr: #00C67B;

$dred_clr: #d52d30;
$lred_clr: #ec595e;


$dblue_for_header: #012561;
$lblue_for_header: #015196;
$light_lblue_for_header: #A7D0FC;
$pink_for_header: #B6898C;

$orangeClr: #EA5B0B;

